@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background: #f0f2f5;
}

.facebook-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.textbox {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.logo {
    font-size: 3.5rem;
    color: #1877f2;
}

.textbox p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5rem;
    max-width: 400px;
}

.login form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 20px;
    width: 396px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

form input {
    border: 1px solid #dddfe2;
    outline: none;
    padding: 10px 16px;
    margin-bottom: 12px;
    font-size: 1rem;
    border-radius: 6px;
}

form input:focus {
    border: 1.8px solid #1877f2;
}

form .login {
    outline: none;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    background: #1877f2;
    color: #fff;
    font-size: 1.1rem;
    transition: 0.3s;
}

form .login:hover {
    cursor: pointer;
    background-color: #145ecf;
}

form a {
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    color: #1877f2;
    padding-top: 12px;
}

form hr {
    background: #f7f7f7;
    margin: 1rem;
}

form .create-account {
    outline: none;
    border: none;
    background: #06b909;
    padding: 16px;
    border-radius: 6px;
    font-size: 1rem;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    transition: 0.3s;
}

form .create-account:hover {
    cursor: pointer;
    background-color: #05a208;
}

.login p {
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: center;
}

.login span {
    font-weight: 500;
}

/* Responsive Styling */
@media (max-width: 820px) {
    html {
        font-size: 75%;
    }

    .facebook-page {
        flex-direction: column;
        padding: 20px;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .textbox {
        align-items: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    .logo {
        font-size: 3rem;
        text-align: center;
    }

    .textbox p {
        margin-bottom: 2rem;
        max-width: 350px;
        text-align: center;
    }

    .login form {
        width: 300px;
        padding: 15px;
    }

    form .create-account {
        width: 70%;
        font-size: 1rem;
        padding: 12px;
    }
}