body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#box {
	height: 100px;
	width: 100px;
	background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    position: absolute;
}